In [1]:
import pandas as pd
import numpy as np

In [2]:
movie = pd.read_csv("datasets/rotten_tomatoes_movies.csv")
critic = pd.read_csv("datasets/rotten_tomatoes_critic_reviews.csv")

In [3]:
movie_novo = movie.drop(columns=["movie_info", "critics_consensus", "content_rating", "original_release_date", "streaming_release_date", "runtime", "production_company", "tomatometer_status", "tomatometer_rating", "audience_status", "audience_rating", "audience_count", "tomatometer_top_critics_count", "tomatometer_fresh_critics_count", "tomatometer_rotten_critics_count"])
movie_novo

,rotten_tomatoes_link,movie_title,genres,directors,authors,actors,tomatometer_count
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",149.0
1,m/0878835,Please Give,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",142.0
2,m/10,10,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",24.0
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",54.0
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",27.0
...,...,...,...,...,...,...,...
17707,m/zoot_suit,Zoot Suit,"Drama, Musical & Performing Arts",Luis Valdez,Luis Valdez,"Daniel Valdez, Edward James Olmos, Charles Aid...",9.0
17708,m/zootopia,Zootopia,"Action & Adventure, Animation, Comedy","Byron Howard, Rich Moore, Jared Bush","Jared Bush, Phil Johnston","J.K. Simmons, Kristen Bell, Octavia Spencer, A...",291.0
17709,m/zorba_the_greek,Zorba the Greek,"Action & Adventure, Art House & International,...",NaN,NaN,"Anthony Quinn, Alan Bates, Irene Papas, Lila K...",10.0
17710,m/zulu,Zulu,"Classics, Drama","Cy Endfield, Cyril Endfield","Cy Endfield, John Prebble","Stanley Baker, Jack Hawkins, Ulla Jacobsson, J...",23.0
17711,m/zulu_dawn,Zulu Dawn,"Action & Adventure, Art House & International,...",Douglas Hickox,"Cy Endfield, Anthony Storey","Burt Lancaster, Peter O'Toole, Simon Ward, Joh...",8.0

In [4]:
critic_novo = critic.drop(columns=["top_critic", "publisher_name", "review_type", "review_date", "review_content"])
critic_novo

        rotten_tomatoes_link        critic_name review_score
0                  m/0814255    Andrew L. Urban          NaN
1                  m/0814255      Louise Keller          NaN
2                  m/0814255                NaN          NaN
3                  m/0814255       Ben McEachen        3.5/5
4                  m/0814255        Ethan Alter          NaN
...                      ...                ...          ...
1130012          m/zulu_dawn      Chuck O'Leary          2/5
1130013          m/zulu_dawn          Ken Hanke        3.5/5
1130014          m/zulu_dawn    Dennis Schwartz           B+
1130015          m/zulu_dawn  Christopher Lloyd        3.5/5
1130016          m/zulu_dawn     Brent McKnight            C

[1130017 rows x 3 columns]

## Tratamento de dataset 1

In [5]:
#Padronizou o dataset com votos maiores que 100, totalizando 3451
mask_movie = (movie_novo["tomatometer_count"] > 200)
movie_mask = movie_novo.loc[mask_movie]
movie_mask['movie_title']

94       Disney's A Christmas Carol
152                    Body of Lies
164                        The Road
169                  Public Enemies
213                    The Hangover
                    ...
17694                        Zodiac
17699                    Zombieland
17700        Zombieland: Double Tap
17705                   Zoolander 2
17708                      Zootopia
Name: movie_title, Length: 892, dtype: object

In [6]:
movie_mask.reset_index(drop=True,inplace=True)
movie_mask

,rotten_tomatoes_link,movie_title,genres,directors,authors,actors,tomatometer_count
0,m/10008502-christmas_carol,Disney's A Christmas Carol,"Animation, Drama, Kids & Family, Science Ficti...",Robert Zemeckis,Robert Zemeckis,"Colin Firth, Leslie Zemeckis, Cary Elwes, Robi...",201.0
1,m/10009225-body_of_lies,Body of Lies,"Drama, Mystery & Suspense",Ridley Scott,William Monahan,"Leonardo DiCaprio, Russell Crowe, Mark Strong ...",213.0
2,m/10009460-the_road,The Road,"Drama, Mystery & Suspense, Science Fiction & F...",John Hillcoat,Joe Penhall,"Viggo Mortensen, Kodi Smit-McPhee, Charlize Th...",215.0
3,m/10009526-public_enemies,Public Enemies,"Action & Adventure, Drama",Michael Mann,"Michael Mann, Ronan Bennett, Ann Biderman, Mar...","Johnny Depp, Christian Bale, Marion Cotillard,...",278.0
4,m/10010667-hangover,The Hangover,Comedy,Todd Phillips,"Jon Lucas, Todd Phillips, Scott Moore","Bradley Cooper, Ed Helms, Zach Galifianakis, J...",239.0
...,...,...,...,...,...,...,...
887,m/zodiac,Zodiac,Mystery & Suspense,David Fincher,James Vanderbilt,"Jake Gyllenhaal, Mark Ruffalo, Robert Downey J...",253.0
888,m/zombieland,Zombieland,"Comedy, Horror",Ruben Fleischer,"Rhett Reese, Paul Wernick","Woody Harrelson, Jesse Eisenberg, Emma Stone, ...",255.0
889,m/zombieland_double_tap,Zombieland: Double Tap,"Action & Adventure, Comedy, Horror",Ruben Fleischer,"Rhett Reese, Paul Wernick, Dave Callaham","Woody Harrelson, Jesse Eisenberg, Emma Stone, ...",244.0
890,m/zoolander_2,Zoolander 2,Comedy,Ben Stiller,"Nicholas Stoller, John Hamburg, Ben Stiller, J...","Ben Stiller, Owen Wilson, Will Ferrell, Penelo...",232.0
891,m/zootopia,Zootopia,"Action & Adventure, Animation, Comedy","Byron Howard, Rich Moore, Jared Bush","Jared Bush, Phil Johnston","J.K. Simmons, Kristen Bell, Octavia Spencer, A...",291.0

## Fim do tratamento dataset1

In [7]:
critic_novo_sem_nan = critic_novo.dropna(subset=['critic_name'])
critic_novo_sem_nan

        rotten_tomatoes_link        critic_name review_score
0                  m/0814255    Andrew L. Urban          NaN
1                  m/0814255      Louise Keller          NaN
3                  m/0814255       Ben McEachen        3.5/5
4                  m/0814255        Ethan Alter          NaN
5                  m/0814255      David Germain          NaN
...                      ...                ...          ...
1130012          m/zulu_dawn      Chuck O'Leary          2/5
1130013          m/zulu_dawn          Ken Hanke        3.5/5
1130014          m/zulu_dawn    Dennis Schwartz           B+
1130015          m/zulu_dawn  Christopher Lloyd        3.5/5
1130016          m/zulu_dawn     Brent McKnight            C

[1111488 rows x 3 columns]

In [8]:
#nomes = []   [[1,2,3],[]]
#for i in movie_mask.rotten_tomatoes_link.values:
    #mask_critic = (critic_novo["rotten_tomatoes_link"] == i)
    #critic_mask = critic_novo.loc[mask_critic]
    #name_list = critic_mask["critic_name"].tolist()
    #nomes.append(name_list)

In [9]:
dataframe_novo = pd.DataFrame(columns=['rotten_tomatoes_link','critic_name','review_score'])

In [10]:
lista = []
for i in movie_mask.rotten_tomatoes_link.values:
    mask_critic = (critic_novo_sem_nan["rotten_tomatoes_link"] == i)
    critic_mask = critic_novo_sem_nan.loc[mask_critic]
    lista.append(critic_mask)
dataframe_novo = pd.concat(lista, ignore_index=True)
dataframe_novo.fillna(0, inplace=True)

In [11]:
"""dataframe_novo_atual = dataframe_novo[~dataframe_novo.critic_name.isin(dataframe_novo.critic_name.value_counts().loc[lambda x: (x < 100) ].index)]
dataframe_novo_atual.reset_index(drop=True,inplace=True)
dataframe_novo_atual"""

'dataframe_novo_atual = dataframe_novo[~dataframe_novo.critic_name.isin(dataframe_novo.critic_name.value_counts().loc[lambda x: (x < 100) ].index)]\ndataframe_novo_atual.reset_index(drop=True,inplace=True)\ndataframe_novo_atual'

In [12]:
dataframe_novo_atual = dataframe_novo

In [13]:
dataframe_novo_atual.groupby(['critic_name']).count()

                rotten_tomatoes_link  review_score
critic_name
A.A. Dowd                        255           255
A.J. Goldmann                      1             1
A.O. Scott                       515           515
A.S. Hamrah                      150           150
AJ Caulfield                       9             9
...                              ...           ...
Zosia Bielski                      1             1
Zoë Hu                             1             1
tt stern-enzi                    173           173
Àngel Quintana                    27            27
Álex Manzano                       7             7

[5655 rows x 2 columns]

In [14]:
dataframe_novo_atual.groupby(['review_score']).count()

              rotten_tomatoes_link  critic_name
review_score
0                            73040        73040
0                                4            4
0.4/5                            2            2
0.5/10                           4            4
0.5/4                          210          210
...                            ...          ...
C-                            1764         1764
D                              856          856
D+                             564          564
D-                             120          120
F                              171          171

[450 rows x 2 columns]

In [15]:
import math
for index, i in dataframe_novo_atual.iterrows():
    if isinstance(i["review_score"], float):
        if not math.isnan(i["review_score"]):
            valor = int(i["review_score"])
            while valor > 10:
                valor = valor // 10
            i["review_score"] = valor
    elif isinstance(i["review_score"], int):
        valor = i["review_score"]
        while valor > 10:
            valor = valor // 10
        i["review_score"] = valor
    elif i["review_score"] == "A+":
        i["review_score"] = 10
    elif i["review_score"] == "A":
        i["review_score"] = 9
    elif i["review_score"] == "A-":
        i["review_score"] = 8
    elif i["review_score"] == "B+":
        i["review_score"] = 7
    elif i["review_score"] == "B":
        i["review_score"] = 6
    elif i["review_score"] == "B-":
        i["review_score"] = 5
    elif i["review_score"] == "C+":
        i["review_score"] = 4
    elif i["review_score"] == "C":
        i["review_score"] = 3
    elif i["review_score"].count("C") and i["review_score"].count("-"):
        i["review_score"] = 2
    elif i["review_score"].count("D"):
        i["review_score"] = 1
    elif i["review_score"].count("F"):
        i["review_score"] = 0
    elif i["review_score"].__contains__("/"):
        valor = i["review_score"].split("/")
        valor1 = int(float(valor[0]))
        valor2 = int(float(valor[1]))
        while valor1 > 10:
            valor1 = valor1 // 10
        while valor2 > 10:
            valor2 = valor2 // 10
        final = (valor1*10)/valor2
        while final > 10:
            final = final // 10
        i["review_score"] = int(final)
    elif isinstance(i["review_score"], str) and i["review_score"].isdigit():
        valor = int(i["review_score"])
        while valor > 10:
            valor = valor // 10
        i["review_score"] = int(valor)

In [16]:
dataframe_novo_atual.groupby("review_score").count()

              rotten_tomatoes_link  critic_name
review_score
0                            73930        73930
1                             1654         1654
2                             9250         9250
3                             3446         3446
4                            17866        17866
5                            21719        21719
6                            37239        37239
7                            38435        38435
8                            39982        39982
9                             6903         6903
10                           15673        15673

In [17]:
dataframe_novo_atual

              rotten_tomatoes_link       critic_name review_score
0       m/10008502-christmas_carol     James O'Ehley            0
1       m/10008502-christmas_carol     Louise Keller            0
2       m/10008502-christmas_carol      Drew McWeeny            0
3       m/10008502-christmas_carol      Nick Schager            5
4       m/10008502-christmas_carol    Prairie Miller            0
...                            ...               ...          ...
266092                  m/zootopia      Damond Fudge            0
266093                  m/zootopia           CJ Sheu            0
266094                  m/zootopia    Brent McKnight            9
266095                  m/zootopia    Allen Almachar            6
266096                  m/zootopia  Danielle Solzman           10

[266097 rows x 3 columns]

In [18]:

"""dataframe_novo_atual = dataframe_novo_atual[dataframe_novo_atual["review_score"] >= 7]  # Se for maior ou igual a 7 significa que gosta do filme
dataframe_novo_atual.reset_index(drop=True,inplace=True)
dataframe_novo_atual"""

'dataframe_novo_atual = dataframe_novo_atual[dataframe_novo_atual["review_score"] >= 7]  # Se for maior ou igual a 7 significa que gosta do filme\ndataframe_novo_atual.reset_index(drop=True,inplace=True)\ndataframe_novo_atual'

In [19]:
"""print("Shape do dataset de Review:", dataframe_novo_atual.shape)
print("\nValores Máximos no dataset:\n", dataframe_novo_atual.max())
print("\nValores Mínimos no dataset:\n", dataframe_novo_atual.min())"""

'print("Shape do dataset de Review:", dataframe_novo_atual.shape)\nprint("\nValores Máximos no dataset:\n", dataframe_novo_atual.max())\nprint("\nValores Mínimos no dataset:\n", dataframe_novo_atual.min())'

In [21]:
review_pivot = dataframe_novo_atual.pivot_table(index="rotten_tomatoes_link", columns="critic_name", values="review_score")

In [22]:
review_pivot.fillna(0, inplace=True)
review_pivot

critic_name,A.A. Dowd,A.J. Goldmann,A.O. Scott,A.S. Hamrah,AJ Caulfield,AP Kryza,Aakash Karkare,Aakriti Anand,Aaron Asadi,Aaron Bady,...,Zoe Heller,Zoe Hewitt,Zoe Margolis,Zoe Rose Smith,Zoey Peresman,Zosia Bielski,Zoë Hu,tt stern-enzi,Àngel Quintana,Álex Manzano
rotten_tomatoes_link,,,,,,,,,,,,,,,,,,,,,
m/10008502-christmas_carol,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
m/10009225-body_of_lies,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
m/10009460-the_road,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
m/10009526-public_enemies,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
m/10010667-hangover,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
m/zodiac,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
m/zombieland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
m/zombieland_double_tap,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
m/zoolander_2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
m/zootopia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0

In [23]:
no_user_voted = dataframe_novo_atual.groupby("rotten_tomatoes_link")["review_score"].agg("count")
no_movies_voted = dataframe_novo_atual.groupby("critic_name")["review_score"].agg("count")

In [24]:
#Para qualificar um filme, um mínimo de 300 usuários deve ter votado em um filme
review_pivot = review_pivot.loc[no_user_voted[no_user_voted > 200].index,:]
#Para qualificar um usuário, um mínimo de 200 filmes deve ser votado pelo usuário.
review_pivot = review_pivot.loc[:,no_movies_voted[no_movies_voted > 200].index]
review_pivot

critic_name,A.A. Dowd,A.O. Scott,Abbie Bernstein,Adam Graham,Al Alexander,Alex Zane,Ali Gray,Alison Willmore,Alissa Wilkinson,Alistair Harkness,...,Vincent Mancini,Walter Chaw,Wendy Ide,Wenlei Ma,Wesley Lovell,Wesley Morris,Will Leitch,William Bibbiani,Willie Waffle,Yasser Medina
rotten_tomatoes_link,,,,,,,,,,,,,,,,,,,,,
m/10009225-body_of_lies,0.0,4.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
m/10009460-the_road,0.0,3.0,0.0,0.0,0.0,6.0,10.0,0.0,0.0,6.0,...,0.0,2.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0,7.0
m/10009526-public_enemies,0.0,0.0,0.0,0.0,1.0,0.0,6.0,0.0,0.0,6.0,...,0.0,5.0,4.0,0.0,0.0,0.0,8.0,0.0,2.0,0.0
m/10010667-hangover,0.0,6.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,8.0,...,0.0,0.0,0.0,0.0,5.0,0.0,6.0,0.0,7.0,0.0
m/10011582-TRON_legacy,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,2.0,0.0,0.0,0.0,5.0,0.0,0.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
m/zodiac,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,7.0,8.0,0.0,7.0,7.0,0.0,0.0,7.0,0.0
m/zombieland,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,0.0,7.0,0.0,6.0,0.0,7.0,5.0
m/zombieland_double_tap,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,6.0,0.0,...,1.0,0.0,0.0,6.0,0.0,0.0,0.0,6.0,0.0,0.0
m/zoolander_2,0.0,0.0,3.0,2.0,0.0,6.0,0.0,0.0,0.0,2.0,...,5.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
m/zootopia,0.0,0.0,0.0,7.0,9.0,8.0,10.0,0.0,0.0,8.0,...,9.0,7.0,8.0,0.0,10.0,0.0,0.0,0.0,0.0,7.0

In [25]:
review_pivot.reset_index(inplace=True)
review_pivot

critic_name,rotten_tomatoes_link,A.A. Dowd,A.O. Scott,Abbie Bernstein,Adam Graham,Al Alexander,Alex Zane,Ali Gray,Alison Willmore,Alissa Wilkinson,...,Vincent Mancini,Walter Chaw,Wendy Ide,Wenlei Ma,Wesley Lovell,Wesley Morris,Will Leitch,William Bibbiani,Willie Waffle,Yasser Medina
0,m/10009225-body_of_lies,0.0,4.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
1,m/10009460-the_road,0.0,3.0,0.0,0.0,0.0,6.0,10.0,0.0,0.0,...,0.0,2.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0,7.0
2,m/10009526-public_enemies,0.0,0.0,0.0,0.0,1.0,0.0,6.0,0.0,0.0,...,0.0,5.0,4.0,0.0,0.0,0.0,8.0,0.0,2.0,0.0
3,m/10010667-hangover,0.0,6.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5.0,0.0,6.0,0.0,7.0,0.0
4,m/10011582-TRON_legacy,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,0.0,5.0,0.0,0.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876,m/zodiac,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,7.0,8.0,0.0,7.0,7.0,0.0,0.0,7.0,0.0
877,m/zombieland,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,7.0,0.0,6.0,0.0,7.0,5.0
878,m/zombieland_double_tap,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,6.0,...,1.0,0.0,0.0,6.0,0.0,0.0,0.0,6.0,0.0,0.0
879,m/zoolander_2,0.0,0.0,3.0,2.0,0.0,6.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
880,m/zootopia,0.0,0.0,0.0,7.0,9.0,8.0,10.0,0.0,0.0,...,9.0,7.0,8.0,0.0,10.0,0.0,0.0,0.0,0.0,7.0

In [27]:
review_pivot.to_csv("datasets/critic_reviews_final.csv")
movie_mask.to_csv("datasets/movies_final.csv")